body {
    background-color: rgb(31, 39, 48);;
    margin:0;
    padding:0;
  }

.plain{
  color: white;
  font-style: italic;
  font-weight:  bold;
  font-size: 20px;
}
.titles{
    color: white;
    font-size:24px;
    font-weight: bold;
}
.subtitles{
  color: white;
  font-size:18px;
  font-weight: bold;
}

.basic_button {
    background-color: white;
    border: none;
    color: darkslategray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    float: left;
    transition-duration: 0.4s;
    border: 2px solid #466791;
    height: 60px;
  }
  .basic_button:hover {
    background-color: #466791;
    color: white;
  }
  #best{
    background-color: rgb(53, 42, 59);
    color: yellow;
    border: 2px solid white;
  }
  #best:hover{
    background-color: black;
    color: white;
  }

  .centered_div {
    display: flex;
    justify-content: center;
    overflow: auto;
    
    /* Extra */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

  .br {
      position:absolute;
      bottom:0;
      right:0;
      font-style: bolder;
      color: white;
      /* Extra */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .block{
    display: inline-block;
    background-color:rgb(51, 61, 72);
    width: 50%;
    height: 100%;
    position: relative;
  }
  #block-pure-css{
    width: 35%;
    height: 100%;
    background-color:rgb(51, 61, 72);;
  }
  #block-new-stuff{
    width: 35%;
    height: 100%;
    background-color:rgb(53, 42, 59);;
    border: 2px solid yellow;
  }
