body {
    text-align:center;
    background-color: rgb(184, 188, 229);
}
canvas {
    border:7px solid #466791;
    background-color: rgb(218, 221, 255);
}
h1 {
    font-size:35px;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    font-family: sans-serif;
    color: rgb(103, 108, 170);
    text-shadow: 2.5px 2.5px rgb(37, 39, 57);
}
h2 {
    font-size:21px;
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    font-family: sans-serif;
    color: #122f55;
    text-shadow: 2.5px 2.5px rgb(140, 145, 196);
}

.endtext{
    color: #5d90d2;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1.75px 1.75px #21344b;
    font-family: sans-serif;
}

#show{
    color: #5d90d2;
    font-size: 28px;
    font-weight: bolder;
    text-shadow: 1.45px 1.45px #21344b;
    font-family: sans-serif;
}

input {
    background-color: white;
    color: darkslategray;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid #466791;
    font-family: sans-serif;
  }
input:hover {
    background-color: #466791;
    color: white;
    font-family: sans-serif;
  }